# Summarizing Automobile Evaluation Data

In the following project I will summarizing categorical data to analyze a sample from a popular open source dataset. This dataset contains information on the cost and physical attributes of several thousand cars.

The car evaluation dataset has been sourced from the UCI Machine Learning Repository and has been slightly modified for this project. Specifically, one additional field `manufacturer_country` has been simulated for illustrative purposes. You can read more about the details, features, and original uses of this dataset in research on the [UCI data description page](https://archive.ics.uci.edu/ml/datasets/car+evaluation).

## Summarizing Manufacturing Country

1. `manufacturer_country` is a _nominal categorical variable_ that indicates the country of the manufacturer of each car reviewed. Create a table of frequencies of all the cars reviewed by `manufacturer_country`. What is the modal category? Which country appears 4th most frequently? Print out your results.

In [1]:
import pandas as pd

car_eval = pd.read_csv('car_eval_dataset.csv')
car_eval.head()

,buying_cost,maintenance_cost,doors,capacity,luggage,safety,acceptability,manufacturer_country
0,vhigh,low,4,4,small,med,unacc,China
1,vhigh,med,3,4,small,high,acc,France
2,med,high,3,2,med,high,unacc,United States
3,low,med,4,more,big,low,unacc,United States
4,low,high,2,more,med,high,acc,South Korea

In [5]:
car_manu_count = car_eval.manufacturer_country.value_counts(dropna=False)
car_manu_count

Japan            228
Germany          218
South Korea      159
United States    138
Italy             97
France            87
China             73
Name: manufacturer_country, dtype: int64

2. Calculate a table of proportions for countries that appear in `manufacturer_country` in the dataset. What percentage of cars were manufactured in Japan?

In [4]:
car_manu_count = car_eval.manufacturer_country.value_counts(dropna=False, normalize=True)
car_manu_count

Japan            0.228
Germany          0.218
South Korea      0.159
United States    0.138
Italy            0.097
France           0.087
China            0.073
Name: manufacturer_country, dtype: float64

## Summarizing Buying Costs

3. `buying_cost` is a categorical variable which describes the cost of buying any car in the dataset. Print out a list of the possible values for this variable.

In [9]:
car_eval['buying_cost'].unique()

array(['vhigh', 'med', 'low', 'high'], dtype=object)

4. `buying_cost` is an _ordinal categorical variable_, which means we can create an order associated with the values in the data and perform numeric operations on the variable. Create a new list, `buying_cost_categories`, that contains the unique values in `buying_cost`, ordered from lowest to highest.

In [14]:
order_bying_costs = ['low', 'med', 'hight', 'vhigh']
car_eval['buying_cost'] = pd.Categorical(car_eval['buying_cost'], order_bying_costs, ordered=True)

5. Convert `buying_cost` to type `'category'` using the list you created in the previous exercise.

In [16]:
import numpy as np
median_index = np.median(car_eval['buying_cost'].cat.codes)
median_index

1.0

6. Calculate the median category of the `buying_cost` variable and print the result.

In [17]:
median_category = order_bying_costs[int(median_index)]
median_category

'med'

## Summarizing Luggage Capacity

7. `luggage` is a categorical variable in the car evaluations dataset that records the luggage capacity for each reviewed car. Calculate a table of proportions for this variable and print the result.

In [18]:
car_eval['luggage'].value_counts()

small    339
med      333
big      328
Name: luggage, dtype: int64

8. Are there any missing values in this column? Replicate the table of proportions from the previous exercise, but do not drop any missing values from the count. Print the result.

In [19]:
car_eval['luggage'].value_counts(dropna=False)

small    339
med      333
big      328
Name: luggage, dtype: int64

9. `doors` is a categorical variable in the car evaluations dataset that records the count of doors for each reviewed car. Find the count of cars that have 5 or more doors. You can identify cars with 5+ doors by looking for cars that have a value of `'5more'` in the `doors` column. Print your result.

In [25]:
more_than_5_doors = np.sum(car_eval['doors'] == '5more')
more_than_5_doors

246

11. Find the proportion of cars that have 5+ doors and print the result.

In [24]:
more_than_5_doors = np.mean(car_eval['doors'] == '5more')
more_than_5_doors

0.246